%a{:name => "mycontact"}
.banner
  .container
    .row
      .col-lg-4
        %h2 o.dania@icloud.com
      .col-lg-8
        %ul.list-inline.banner-social-buttons
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/junydania"}
              %i.fa.fa-twitter.fa-fw
              %span.network-name Twitter
          %li
            %a.btn.btn-default.btn-lg{:href => "https://github.com/junydania"}
              %i.fa.fa-github.fa-fw
              %span.network-name Github
          %li
            %a.btn.btn-default.btn-lg{:href => "https://www.linkedin.com/in/osegbemohdania/"}
              %i.fa.fa-linkedin.fa-fw
              %span.network-name Linkedin
          %li
            %a.btn.btn-default.btn-lg{:href => "https://web.facebook.com/junydania"}
              %i.fa.fa-facebook-square
              %span.network-name Facebook
  / /.container
.footercolor
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            %a{:href => "index.html"} Home
          %li.footer-menu-divider ⋅
          %li
            %a{:href => "aboutme.html"} About
          %li.footer-menu-divider ⋅
          %li
            %a{:href => "portfolio.html"} Portfolio
          %li.footer-menu-divider ⋅
          %li
            %a{:href => "#contactme.html"} Contact
        %p.copyright.text-muted.small Copyright © Osegbemoh Dania  2017. All Rights Reserved
