!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title My Portfolio
    %link{:href => "images/logoshort.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/stylesheets/style.css", :rel => "stylesheet"}/
    :javascript

  %body
    .container
      .row
        .col-md-6
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li
                  %a{:href => "comedian.html"}
                    Comedian
                    %span.sr-only (current)
                %li
                  %a{:href => "#"} Blog
                %li
                  %a{:href => "#"} Events
              %ul.nav.navbar-nav.navbar-right
                %li.search-box
                  %form{:action => "", :autocomplete => "on"}
                    %input#search{:name => "search", :placeholder => "What're we looking for ?", :type => "text"}/
                    %input#search_submit{:type => "submit", :value => "Rechercher"}/
                %li.dropdown.dropdown2
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    My Account
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Profile
                    %li
                      %a{:href => "#"} Logout
            / /.navbar-collapse
          / /.container-fluid
