.content-section-b
  .container
    .row
      - data.skills.skills.each do |skill|
        .col-lg-3.col-sm-4.col-md-4
          =image_tag skill.image, :class => "img-circle-responsive", :height => "200", :width => "250"
