.content-section-b
  .container
    .row
      .col-lg-2.col-sm-6{:class => "col-md-pull=4"}
        %img.img-responsive{:alt => "", :src => "images/skills/ruby.png"}/
      .col-lg-2.col-md-4.col-sm-6
        %img.img-responsive{:alt => "", :src => "images/skills/github-logo.jpg"}/
      .col-lg-2.col-md-4.col-sm-6
        %img.img-responsive{:alt => "", :src => "images/skills/html.png"}/
      .col-lg-2.col-md-4.col-sm-6
        %img.img-responsive{:alt => "", :src => "images/skills/jasmine.png"}/
      .col-lg-2.col-md-4.col-sm-6
        %img.img-responsive{:alt => "", :src => "images/skills/middleman.jpg"}/
      .col-lg-2.col-md-4.col-sm-6
        %img.img-responsive{:alt => "", :src => "images/skills/postgresql.png"}/
      .col-lg-2.col-md-4.col-sm-6
        %img.img-responsive{:alt => "", :src => "images/skills/sinatra.png"}/
  / /.container
