
%a{:name => "about"}
  .about-me
    .container
      .row
        .col-lg-12
          .intro-message
            %h1 About Me
            %h3 Agile Software Developer
            %hr.intro-divider/
            %ul.list-inline.intro-social-buttons
              %li
                %a.btn.btn-success.btn-lg{:href => "https://twitter.com/junydania", :target => "_blank"}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
              %li
                %a.btn.btn-default.btn-lg{:href => "https://github.com/junydania", :target => "_blank"}
                  %i.fa.fa-github.fa-fw
                  %span.network-name Github
              %li
                %a.btn.btn-info.btn-lg{:href => "https://www.linkedin.com/in/osegbemohdania/", :target => "_blank"}
                  %i.fa.fa-linkedin.fa-fw
                  %span.network-name Linkedin
              %li
                %a.btn.btn-danger.btn-lg{:href => "https://web.facebook.com/junydania", :target => "_blank"}
                  %i.fa.fa-facebook-square
                  %span.network-name Facebook
              %li
                %a.btn.btn-warning.btn-lg{:href => "https://www.instagram.com/junydania", :target => "_blank"}
                  %i.fa.fa-instagram
                  %span.network-name Instagram
.container
  .row
    .col-lg-12
      %h1 Wow, a whole page just about me!!
  %hr/
  .row
    .col-md-6
      = image_tag "dania2.png", :class => "img.rounded", :height => "350", :width => "350"
    .col-md-6
      .myself
        %p
          %strong "
          I am,
          %kbd OSEGBEMOH DANIA!
          a
          %kbd FULL STACK AGILE SOFTWARE DEVELOPER.
          I love to develop applications using BDD/TDD approach. I have great interest in
          %kbd ARTIFICIAL INTELLIGENCE & DEEP LEARNING
          My philosophy is continuous improvement and I never  stop learning
          Spent the last 9 years of my career in Core Networking, IT infrastructure, Retail Technology, DevOps & Software development.
          I constantly strive to be an expert in
          %kbd SOFTWARE DEVELOPMENT & AI
          Click on the
          %kbd LinkedIn
          button above or below if you would love to know more about the,
          %kbd PROFESSIONAL ME
          My mantra is
          %kbd CONTINUOUS IMPROVEMENT!!