
%a{:name => "about"}
  .about-me
    .container
      .row
        .col-lg-12
          .intro-message
            %h1 About Me
            %h3 Agile Software Developer
            %hr.intro-divider/
            %ul.list-inline.intro-social-buttons
              %li
                %a.btn.btn-success.btn-lg{:href => "https://twitter.com/junydania"}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
              %li
                %a.btn.btn-default.btn-lg{:href => "https://github.com/junydania"}
                  %i.fa.fa-github.fa-fw
                  %span.network-name Github
              %li
                %a.btn.btn-info.btn-lg{:href => "https://www.linkedin.com/in/osegbemohdania/"}
                  %i.fa.fa-linkedin.fa-fw
                  %span.network-name Linkedin
              %li
                %a.btn.btn-danger.btn-lg{:href => "https://web.facebook.com/junydania"}
                  %i.fa.fa-facebook-square
                  %span.network-name Facebook
              %li
                %a.btn.btn-warning.btn-lg{:href => "https://www.instagram.com/junydania"}
                  %i.fa.fa-instagram
                  %span.network-name Instagram
.container
  .row
    .col-lg-12
      %h1 Wow, a whole page just about me!!
  %hr/
  .row
    .col-md-6
      = image_tag "dania2.png", :class => "img.rounded", :height => "350", :width => "350"
    .col-md-6
      .myself
        %p
          "For now, it's just me,
          %kbd OSEGBEMOH DANIA!
          Striving to become a
          %kbd GREAT SOFTWARE DEVELOPER!.
          Currently a student of
          %kbd CRAFT ACADEMY.
          Web Development Bootcamp grooming my skills in Web and mobile development.
          Spent the last 8 years of my career in Core Networking, IT infrastructure and Retail Technology.
          I tagged my journey through Craft Academy as
          %kbd THE REBORN.
          Click on the
          %kbd LinkedIn
          button above if you would love to know more about the,
          %kbd PROFESSIONAL ME
          My mantra is
          %kbd CONTINUOUS LEARNING!!
