.container
  / Page Header
  .row
    .col-lg-12
      %h1.page-header
        My Portfolio
        %small Software Development Projects
  / /.row
  / Projects Row
  .row
    - data.projects.projects.each do |project|
      .col-md-4.col-sm-6.col-lg-4.portfolio-item
        %a{:href => "#{project.repository}"}
          = image_tag project.image, :class => "img-rounded", :height => "270", :width => "300"
        %h3
          %a.port-name{:href => "#{project.repository}", target:"_blank" }= project.title
          %br/
  / /.row
  %hr/
  / Pagination
  .row.text-center
    .col-lg-12
      %ul.pagination
        %li
          %a{:href => "#"} «
        %li.active
          %a{:href => "#"} 1
        %li
          %a{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
        %li
          %a{:href => "#"} »
/ /.row
%hr/
